<%= render partial: 'shared/header' %>
<div class="w-full flex flex-col justify-center items-center md:w-[60%] mx-auto">
    <div class="flex justify-between w-[100%]">
        <a href="<%= recipes_path %>"><i class="fa-solid fa-left-long md:text-4xl text-2xl"></i></a>
        <h1 class="md:text-4xl text-2xl font-extrabold mx-auto">Add Recipe</h1>
    </div>
    <%= form_with class:'flex flex-col gap-2 w-[100%] mt-5', model: @recipe, url: { action: "create" }, method: :post do |f| %>
        <%= f.text_field :name, placeholder: 'Recipe name', class: 'w-full h-[50px] border border-black' %>
        <%= f.number_field :preparation_time, step:'0.01', placeholder: 'Preparation time in hour', class: 'w-full h-[50px] border border-black' %>
        <%= f.number_field :cooking_time, step: '0.01', placeholder: 'Cooking time in hour', class: 'w-full h-[50px] border border-black' %>
        <%= f.text_field :description, placeholder: 'Recipe description', class: 'w-full h-[50px] border border-black' %>
        <%= f.submit 'ADD RECIPE', class: 'w-[120px] text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2' %>
        <% if flash[:notice] %>
            <div class="notice">
                <%= flash[:notice] %>
            </div>
        <% end %>
    <% end %>
</div>