<div class="w-full flex flex-col gap-5 pl-[3%] pr-[3%] md:w-[60%] mx-auto pt-5">  
  <h1 class="md:text-4xl text-2xl font-extrabold mx-auto"><%= @recipe.name %></h1>
  <div class="flex justify-between w-[90%]">
    <p>preparation time: <span class="font-extrabold"><%= @recipe.preparation_time %></span></p>
    <% if can? :update, @recipe %>
      <%= form_with url: recipe_path(@recipe), data: { "turbo-method": :patch}, model: @recipe do |form| %>
        <div class="relative inline-block w-[50px] mr-2 align-middle select-none transition duration-200 ease-in">
          <%= form.label :public, 'Public' %>
          <%= form.check_box :public, id: "public-checkbox", class: "toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer", onchange: "this.form.submit();" %>
          <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
        </div>
      <% end %>
    <% end %>

  </div>
  <p>Cooking time: <span class="font-extrabold"><%= @recipe.cooking_time %></span></p>
  <p>Steps go here...</p>

  <% if can? :update, @recipe %>
    <div class="flex justify-between">
      <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Generate shopping list</button>
      <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Add foods</button>
    </div>
  <% end %>

  <div class="w-[90%] border-2 border-black mx-auto"></div>

  <div class="grid grid-cols-4 grid-rows-1 grid-flow-row border-2 border-black">
    <div class="font-extrabold bg-gray-400 border-r-2 border-black">Food</div>
    <div class="font-extrabold bg-gray-400 border-r-2 border-black">Quantity</div>
    <div class="font-extrabold bg-gray-400 border-r-2 border-black">Value</div>
    <div class="font-extrabold bg-gray-400">Actions</div>
    <% @recipe_foods.each do |recipe_food| %>
      <div class="border-r-2 border-black"><%= Food.find_by(id: recipe_food.food_id).name %></div>
      <div class="border-r-2 border-black"><%= recipe_food.quantity %></div>
      <div class="border-r-2 border-black"><span>$</span><%= Food.find_by(id: recipe_food.food_id).price * recipe_food.quantity %></div>
      
      <div class="md:flex justify-between px-3">
        <% if can? :update, @recipe %>
          <a href="#" class="font-medium text-blue-600 underline hover:no-underline">Modify</a>
          <%= link_to 'Remove', recipe_food_path(@recipe.id, Food.find_by(id: recipe_food.food_id).id), class: "font-medium text-blue-600 underline hover:no-underline", data: { "turbo-method": :delete } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>