<%= render partial: "shared/header" %>
<div class="flex flex-col text-sm md:w-[50%] mx-auto">
  <h1 class="mb-[50px] text-xl font-bold w-[230px] mx-auto">Change your password</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "rounded-lg w-[100%]" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-lg w-[100%]" %>
    </div>

    <div class="actions mt-2">
      <%= f.submit "Change my password", class: "text-white bg-gradient-to-r from-gray-600 via-gray-700 to-gray-800 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-gray-300 shadow-lg shadow-gray-500/50 dark:shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>