<%= render partial: "shared/header" %>
<div class="flex flex-col text-sm md:w-[50%] mx-auto">
  <h1 class="mb-[50px] text-xl font-bold w-[230px] mx-auto">Forgot your password?</h1>
  <h2>Enter the email address associated with your account and we'll send you a link to reset your password.</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-5">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-lg w-[100%]" %>
    </div>

    <div class="actions mt-2">
      <%= f.submit "Continue", class: "text-white bg-gradient-to-r from-gray-600 via-gray-700 to-gray-800 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-gray-300 shadow-lg shadow-gray-500/50 dark:shadow-lg font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
