<div class="md:w-[70%] mx-auto">
    <%= render partial: 'shared/header' %>
    <div class="w-full flex justify-end">
        <% if can? :destroy, Food %>
            <a href=<%= new_food_path %> id="add-food-link" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Add Food</a>
        <% end %>
    </div>

    <div class="grid grid-cols-4 grid-rows-1 grid-flow-row border-2 border-black mt-5">
        <div class="font-extrabold bg-gray-400 border-r-2 border-black px-3">Food</div>
        <div class="font-extrabold bg-gray-400 border-r-2 border-black px-3">Measurement unit</div>
        <div class="font-extrabold bg-gray-400 border-r-2 border-black px-3">Unit price</div>
        <div class="font-extrabold bg-gray-400 px-5">Actions</div>
        <% @foods.each do |food| %>
            <div class="border-r-2 border-black px-3"><%= food.name %></div>
            <div class="border-r-2 border-black px-3"><%= food.measurement_unit %></div>
            <div class="border-r-2 border-black px-3"><%= food.price %></div>
            <div class="border-r-2 border-black px-5">
                <% if can? :destroy, Food %>
                    <%=  button_to 'Delete', delete_food_path(food.id), class: "font-medium text-blue-600 underline hover:no-underline", method: :delete %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

