<%= render partial: 'shared/header' %>
<div class="w-full flex flex-col justify-center items-center md:w-[60%] mx-auto">
    <div class="flex justify-between w-[90%]">
        <a href="<%= recipe_path(params[:id]) %>"><i class="fa-solid fa-left-long md:text-4xl text-2xl"></i></a>
        <h1 class="md:text-4xl text-2xl font-extrabold mx-auto">Add Food</h1>
    </div>

    <%= form_with class:'flex flex-col gap-2 w-[100%] mt-5', model: @food, url: { action: "create" }, method: :post do |f| %>
        <%= f.text_field :name, placeholder: 'Food name', class: 'w-full h-[50px] border border-black' %>
        <%= f.text_field :measurement_unit, placeholder: 'measurement unit', class: 'w-full h-[50px] border border-black' %>
        <%= f.number_field :price, placeholder: 'Food price', class: 'w-full h-[50px] border border-black' %>
        <%= f.number_field :quantity, placeholder: 'Food quantity', class: 'w-full h-[50px] border border-black' %>
        <%= f.submit 'ADD FOOD', class: 'w-[120px] text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2' %>
    <% end %>
</div>